{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-hover">
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Pokedex</th>
                        <th class="column2">Name</th>
                        <th class="column3">Type</th>
                        <th class="column4">Total</th>
                        <th class="column5">Hp</th>
                        <th class="column4">Atk</th>
                        <th class="column5">Def</th>
                        <th class="column5">SP Atk</th>
                        <th class="column4">SP Def</th>
                        <th class="column5">Speed</th>
                        <th class="column6">Gen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="column1">{{pkmnpage.pokedex_number}}</td>
                        <td class="column2">{{pkmnpage.name}}
                        </td>
                        <td class="column3">{{pkmnpage.type_1}} / {{pkmnpage.type_2}}</td>
                        <td class="column4">{{pkmnpage.total_points}}</td>
                        <td class="column5">{{pkmnpage.hp}}</td>
                        <td class="column5">{{pkmnpage.attack}}</td>
                        <td class="column5">{{pkmnpage.defense}}</td>
                        <td class="column5">{{pkmnpage.sp_attack}}</td>
                        <td class="column5">{{pkmnpage.sp_defense}}</td>
                        <td class="column5">{{pkmnpage.speed}}</td>
                        <td class="column6">{{pkmnpage.generation}}</td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}