{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-hover">
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Pokedex</th>
                        <th class="column2">Name</th>
                        <th class="column3">Type</th>
                        <th class="column4">Total</th>
                        <th class="column5">Hp</th>
                        <th class="column4">Atk</th>
                        <th class="column5">Def</th>
                        <th class="column5">SP Atk</th>
                        <th class="column4">SP Def</th>
                        <th class="column5">Speed</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="column1">{{id}}</td>
                        <td class="column2">{{name}}
                        </td>
                        <td class="column3">{{type1}} / {{type2}}</td>
                        <td class="column4">{{totalstat}}</td>
                        <td class="column5">{{hp}}</td>
                        <td class="column5">{{attack}}</td>
                        <td class="column5">{{defense}}</td>
                        <td class="column5">{{special_attack}}</td>
                        <td class="column5">{{special_defense}}</td>
                        <td class="column5">{{speed}}</td>


                    </tr>

                    </tbody>
                </table>

            </div>
             The stats are fetched from https://pokeapi.co/api/v2/pokemon/
        </div>
    </div>
</div>
{% endblock %}